/* Main Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: $primary-white-2;
}
::-webkit-scrollbar-thumb {
    background: $primary-grey;
}
::-webkit-scrollbar-thumb:hover {
    background: #444;
}
.logo {
    color: $primary-white-2;
    font-family: $heading;
    font-size: 28px;
    border: 3px solid $accent-0;
    border-radius: $rounded;
    padding: 10px 25px;
}
.btn {
    min-width: fit-content;
    color: $primary-white-2;
    border: 3px solid $accent-0;
    border-radius: $rounded;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 500;
    transition: background-color $transition, opacity $transition;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }

    &-filled {
        @extend .btn;
        background: $accent-0;

        &:active {
            opacity: 1;
            background: transparent;
        }
    }

    &-outline {
        @extend .btn;
        background: transparent;

        &:active {
            opacity: 1;
            background: $accent-0;
        }
    }
}
.search-bar {
    height: 39px;
    font-weight: 500;
    border: transparent;

    & input {
        @extend .search-bar;
        background: $primary-white-2;
        min-width: 280px;
        padding: 0 20px;
        border-radius: $rounded 0 0 $rounded;
        font-size: 18px;
    }

    & button {
        @extend .search-bar;
        background: $secondary-1;
        color: $primary-white-2;
        width: 60px;
        font-size: 20px;
        border-radius: 0 $rounded $rounded 0;
        transition: opacity $transition;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            opacity: 0.7;
        }
    }
}
.link-dim {
    transition: opacity $transition;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}
.link-underline {
    color: $accent-0;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}
.card {
    background: $primary-white-2;
    border-radius: $rounded;
    box-shadow: $shadow-sml;
    overflow: hidden;
    transition: transform $transition, box-shadow $transition;

    &:hover {
        transform: scale(1.01);
        box-shadow: $shadow-med;
    }

    h3 a {
        @extend .link-dim;
        color: $secondary-1;
    }

    p a {
        @extend .link-underline;
    }
}
.filter {
    background: $primary-white-2;
    padding: 5px 18px;
    border: 1px solid $primary-grey;
    border-radius: $rounded;
    box-shadow: $shadow-sml;
    cursor: pointer;
}