.footer {
    background: $secondary-0;

    .container {
        padding: 0 5%;
    }

    &__nav {
        min-height: 220px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
    }

    &__logo {
        @extend .logo;
        justify-self: start;
    }

    li a {
        @extend .link-dim;
        color: $primary-white-2;
    }

    &__menu {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: column;
        text-align: center;
        gap: 15px;
        padding: 20px 0;
    }

    &__follow {
        margin-bottom: 12px;
        color: $primary-white-2;
        text-align: end;
        line-height: 0.9;

        &::after {
            content: "";
            height: 1px;
            width: 135px;
            display: inline-block;
            background: $primary-grey;
        }
    }

    &__socials {
        display: flex;
        justify-content: end;
        gap: 14px;
    }

    &__info {
        height: 100%;
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        border-top: 1px solid $primary-grey;

        p {
            color: $primary-white-0;
            font-size: 14px;
            line-height: 1.5;
        }

        div:nth-child(1) {
            display: flex;
            justify-content: start;
        }
        p:nth-child(2) {
            text-align: center;
        }

        p:nth-child(3) {
            text-align: end;
        }
    }
}
