// Colors
$dark-grey: #2A2B2B;
$light-grey: #8F9394;
$white-3: #E4E9EB;
$white-2: #F2F5F5;
$white-1: #FAFCFC;

$primary: #219EBC;
$primary-hover: #1F91AD;
$secondary: #023047;
$accent: #FB8500;

// Fonts
$heading: 'Archivo', sans-serif;
$paragraph:'Inter', sans-serif;

// Utilities
$rounded: 7px;
$transition: 150ms ease-in-out;
$shadow-sml: 0 5px 12px rgb(0, 0, 0, 15%);
$shadow-med: 0 7px 15px rgb(0, 0, 0, 18%);

$breakpoint: (
    "xsmall": "450px",
    "small": "600px",
    "medium": "950px",
    "large": "1150px",
    "xlarge": "1400px",
);

@mixin breakpoint($size) {
    @media (min-width: map-get($breakpoint, $size)) {
        @content;
    }
}