// Colors
$primary-0: #2A2B2B;
$primary-1: #8F9394;
$primary-2: #E4E9EB;
$primary-3: #FAFCFC;

$secondary-0: #023047;
$secondary-1: #219EBC;
$secondary-2: #8ECAE6;

$accent-0: #FB8500;
$accent-1: #FFB703;

// Fonts
$heading: 'Archivo', sans-serif;
$paragraph:'Inter', sans-serif;

// Utilities
$rounded: 10px;
$transition: 150ms ease-in-out;