.footer {
    background: $secondary;

    .container {
        padding: 0 5%;
    }

    &__nav {
        display: grid;
        padding: 20px 0;
        font-size: 1.125rem; /* 18px */
        font-weight: 500;

        div:nth-child(3) {
            display: none;
        }

        @include breakpoint(large) {
            grid-template-columns: repeat(3, 1fr);
            align-items: center;

            div:nth-child(3) {
                display: block;
            }
        }
    }

    &__logo {
        @extend .logo;
    }

    li a {
        @extend .link-dim;
        color: $white-1;
    }

    &__menu {
        padding: 20px 0 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        text-align: center;
        
        @include breakpoint(medium) {
            grid-template-columns: repeat(6, 1fr);
        }

        @include breakpoint(large) {
            grid-template-columns: none;
            grid-template-rows: repeat(3, 1fr);
            grid-auto-flow: column;
            gap: 15px;
        }
    }

    &__follow {
        margin-bottom: 12px;
        color: $white-1;
        line-height: 0.9;
        text-align: end;

        &::after {
            content: "";
            height: 1px;
            width: 135px;
            display: inline-block;
            background: $light-grey;
        }
    }

    &__socials {
        display: flex;
        justify-content: end;
        gap: 14px;
    }

    &__info {
        padding: 10px 0;
        display: grid;
        gap: 10px;
        text-align: center;
        border-top: 1px solid $light-grey;

        @include breakpoint(medium) {
            padding: 20px 0 0;
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include breakpoint(large) {
            grid-column: span 3;

            p:nth-child(1) {
                text-align: start;
            }

            p:nth-child(3) {
                text-align: end;
            }
        }

        p {
            color: $white-3;
            font-size: 0.875rem; /* 14px */
            line-height: 1.5;
        }
    }
}
