.sidenav {
    background: $primary;
    color: $white-1;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    font-size: 1.25rem; /* 20px */

    a {
        @extend .link-dim;
        color: $white-1;
    }

    .container {
        padding: 0 10%;
    }

    &__header {
        min-height: 70px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__close {
        color: $white-1;
        font-size: 1.75rem; /* 28px */
    }

    &__menu {
        margin-bottom: 20px;
        display: grid;
        gap: 10px;
        font-weight: 500;
        text-align: end;

        li:nth-child(2) {
            margin-bottom: 10px;
        }
    }

    &__socials {
        display: flex;
        justify-content: end;
        gap: 14px;
    }
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}
