.blog-show {
    .container {
        justify-items: center;
        padding: 0 20px;

        @include breakpoint(small) {
            padding: 0 30px;
        }
    }

    &__content {
        background: $white-1;
        max-width: 900px;
        margin: 5vh 0;
        padding: 20px;
        border-radius: $rounded;
        box-shadow: $shadow-sml;
        display: grid;
        row-gap: 20px;

        @include breakpoint(xsmall) {
            padding: 30px;
        }

        @include breakpoint(small) {
            padding: 50px;
        }

        h1 {
            margin: 12px 0;
            color: $primary;
            font-size: 2rem; /* 32px */

            @include breakpoint(small) {
                font-size: 2.5rem; /* 40px */
            }
        }

        img {
            max-width: 100%;
            justify-self: center;
            border-radius: $rounded
        }
    }

    &__back {
        padding-bottom: 12px;
        border-bottom: 1px solid $light-grey;

        a {
            @extend .link-underline;
        }
    }

    &__info {
        margin-bottom: 10px;
        color: $light-grey;
        
        a {
            @extend .link-underline;
        }
    }

    &__paragraphs {
        padding: 20px 0;
        line-height: 1.5;
        display: grid;
        row-gap: 20px;

        @include breakpoint(small) {
            padding: 20px 30px;
        }

        h2 {
            color: $primary;
        }

        img {
            margin: 10px 0;
        }
    }
}
