.collection {
    .container {
        justify-items: center;
        padding: 0 30px;
    }

    &__content {
        max-width: 1150px;
        margin: 10vh 0;
        display: grid;
        gap: 10px;

        @include breakpoint(small) {
            gap: 18px;
        }

        h1 {
            color: $primary;
            font-size: 2rem; /* 32px */

            @include breakpoint(small) {
                font-size: 2.5rem; /* 40px */
            }
        }

        > p {
            line-height: 1.4;

            @include breakpoint(small) {
                margin-bottom: 10px;
            }
        }
    }

    &__filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 12px;

        @include breakpoint(xsmall) {
            align-items: stretch;
        }

        @include breakpoint(medium) {
            flex-direction: row;
            justify-content: space-between;
        }

        > div {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            row-gap: 10px;

            @include breakpoint(xsmall) {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }

            input {
                margin: 0 0 0 10px;
                cursor: pointer;
            }

            label {
                font-weight: 500;
            }
        }
    }

    &__theme {
        @extend .filter;
        margin-right: 10px;
    }

    &__layout {
        display: flex;

        .layout-btn {
            @extend .filter;
            font-size: 1.5625rem; /* 25px */
            padding: 0 3px;
            margin-right: 5px;

            &--fade {
                @extend .layout-btn;
                color: $light-grey;
            }
        }
    }

    &__sort {
        @extend .filter;
        align-self: center;

        @include breakpoint(xsmall) {
            margin-left: 10px;
        }

        span {
            color: $light-grey;
        }
    }

    &__pagination {
        display: grid;
        align-items: center;
        row-gap: 10px;

        @include breakpoint(small) {
            grid-template-columns: 1fr 0.75fr;
        }

        @include breakpoint(medium) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        > div {
            display: flex;
            align-items: center;
        }
    }

    &__pages {
        justify-self: center;
        display: flex;
        gap: 9px;
        color: $light-grey;
        font-weight: 500;

        a {
            color: $dark-grey;

            &:hover {
                text-decoration: underline;
            }
        }

        .current {
            color: $primary;
            font-weight: 600;
        }

        &--top {
            @extend .collection__pages;

            @include breakpoint(small) {
                justify-self: end;
            }

            @include breakpoint(medium) {
                justify-self: center;
            }
        }

        &--bottom {
            @extend .collection__pages;

            @include breakpoint(small) {
                grid-column: span 2;
            }

            @include breakpoint(medium) {
                grid-column: span 3;
            }
        }
    }

    &__num-pages {
        @extend .filter;
        padding: 5px 6px;
        margin-right: 10px;
    }

    &__cards {
        display: grid;
        gap: 30px;

        @include breakpoint(small) {
            grid-template-columns: 1fr 1fr;
        }

        @include breakpoint(medium) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 50px;
        }

        .card {
            display: grid;
            align-items: baseline;

            &__text {
                display: grid;
                padding: 25px 30px;
                line-height: 1.5;

                h3 a {
                    font-size: 1.625rem; /* 26px */
                }
            }

            &__desc {
                padding: 8px 0 20px;
            }

            &__view {
                @extend .btn-filled;
                text-align: center;

                &:active {
                    color: $accent;
                }
            }
        }
    }
}
